.task {
    width: 100%;
    height: 100%;
    position: relative;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.taskImageContainer {
    width: 90%;
    height: 40%;
    margin-top: 60px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #F2F2F2;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.taskImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.valueBlock {
    width: 100%;
    white-space: pre-wrap;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.taskHeading {
    width: 80vw;
    margin-top: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
}

.taskBtn {
    width: 80vw;
    height: 14vw;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #99B3D4;
    border-radius: 8px;
    font-size: 7vw;
    position: absolute;
    bottom: 0vw;
    cursor: pointer;
}

.taskBtn:active {
    background-color: #B9E6EC;
}

.close {
    position: absolute;
    right: 16vw;
    top: 5vw;
    width: 10px;
    height: 10px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:active {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10vw;
    content: ' ';
    height: 20px;
    width: 4px;
    background-color: #99B3D4;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
}
@media (min-width: 700px) {
    .taskImageContainer {
        margin-top: 100px;
        height: 50%;
    }
    .close {
        right: 16vw;
        top: 5vw;
        width: 15px;
        height: 50px;
        opacity: 0.3;
        cursor: pointer;
      }
    .close:before, .close:after {
        position: absolute;
        left: 10vw;
        content: ' ';
        height: 40px;
        width: 5px;
        background-color: #99B3D4;
      }
      .taskHeading {
        width: 80vw;
        margin-top: 40px;
        font-size: 60px;
        line-height: 70px;
        font-weight: 600;
        text-align: center;
    }
}

@media (orientation:landscape) {
    
    .task {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5vh;
    }
    .taskImageContainer {
        width: 44%;
        height: 100%;
        margin-top: 0;
    }
    .valueBlock {
        width: 44%;
        height: 100%;
        flex-direction: column;
        align-items: space-between;
    }
    .taskHeading {
        font-size: 5vh;
        line-height: 7vh;
        margin-top: 30vh;
    }
    
    .taskBtn {
        width: 40vw;
        height: 14vh;
        border: none;
        font: inherit;
        color: inherit;
        background-color: #ACD4F7;
        border-radius: 8px;
        font-size: 5vh;
        position: absolute;
        bottom: 10vh;
    }
    .close {
        position: absolute;
        right: 10vh;
        top: 10vh;
        width: 10vw;
        height: 10vh;
        opacity: 0.3;
        cursor: pointer;
      }
      .close:active {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 5vw;
        content: ' ';
        height: 12vh;
        width: 2vh;
        background-color: #E93B69;
    }
}