.task {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.task__close-btn {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.task__close-btn:hover {
    scale: 1.2;
}

.task__close-container {
    text-align: right;
    position: absolute;
    top: 40px;
    right: 30px;
    text-decoration: none;
}

.task__image-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.task__image-wrapper {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #D3CBBD;
}

.task__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.task__value-container {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.task__heading {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.task__value-wrapper {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.task__btn {
    width: 80%;
    max-width: 400px;
    height: 80px;
    padding: 0;
    border: none;
    font: inherit;
    border-radius: 12px;
    font-size: 30px;
    cursor: pointer;
}

.task__btn:active {
    background-color: #2A4B5D;
    color: black;
}



@media(max-width:1200px) {
    .task__image-wrapper {
        width: 500px;
        height: 500px;
    }
}

@media(max-width:1050px) {
    .task__image-wrapper {
        width: 600px;
        height: 600px;
    }
    .task__image-container {
        width: 55%;
    }
    .task__value-container {
        width: 45%;
    }
}

@media(max-width:820px) {
    .task {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .task__image-wrapper {
        width: 400px;
        height: 400px;
    }
    .task__image-container {
        width: 100%;
        padding-top: 100px;
    }
    .task__value-container {
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .task__value-wrapper {
        padding-top: 60px;
    }
}

@media(max-width:600px) {
    .task__close-btn {
        width: 15px;
        height: 15px;
    }
    .task__close-container {
        top: 30px;
        right: 30px;
    }
    .task__image-wrapper {
        width: 100%;
        height: 260px;
    }
    .task__image-container {
        padding-top: 40px;
    }
    .task__value-wrapper {
        padding-top: 20px;
        height: 220px;
    } 
    .task__heading {
        font-size: 30px;
        line-height: 36px;
    }
    .task__btn {
        height: 70px;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .task {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

    }
    .task__image-container {
        width: 200px;
        height: 200px;
        padding-top: 0;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .task__image-wrapper {
        width: 200px;
        height: 200px;
    }
    .task__value-container {
        padding: 0;
        padding-right: 10px;
        width: calc(100% - 300px);
    }
    .task__value-wrapper {
        width: 80%;
        padding-top: 0px;
        height: 200px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    } 
    .task__heading {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 40px;
        padding-top: 20px;
    }
    .task__close-btn {
        width: 15px;
        height: 15px;
    }
    .task__btn {
        height: 60px;
        font-size: 20px;
    }
}