.startPage {
    width: 100%;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
.greeting_container {
    width: 100%;
    height: 72px;
    background-color: #F2F2F2;
    padding-top: 20px;
}
.greeting_container:after {
    content: "";
    display: block;
    padding: 1px;
    border-bottom: 3px solid #F2F2F2;
}

.startPageHeading {
    text-align: start;
    padding-left: 5vw;
    padding-bottom: 10px;
}

.nowDate {
    color: #99B3D4;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.greeting {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.outerCirkle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #99B3D4;
    margin-top: 30px;
    margin-left: -80px;
    position: relative;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}

.innerCircle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}

.innerCircleImage {
    -o-object-fit: cover;
       object-fit: cover;
    width: 74%;
}

.startBtnContainer {
    position: absolute;
    top: -2px;
    right: -60px;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}

.levelsBtnContainer {
    position: absolute;
    top: 200px;
    right: -78px;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}

.startButtonCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #B9E6EC;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}
.startButtonCircle:active {
    background-color: #EBD0DE;
}

.startPageLink {
    width: 100%;
}

.linkValue {
    text-decoration: none;
    color:black
}

.startBtnImage {
    -o-object-fit: cover;
       object-fit: cover;
    width: 60%;
}

.levelsButtonCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #B9E6EC;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}
.levelsButtonCircle:active {
    background-color: #EBD0DE;
}

.levelsBtnImage {
    -o-object-fit: cover;
       object-fit: cover;
    width: 60%;
}

.btnValue {
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
}
.btnValue:active {
    color: #EBD0DE
}
@media (min-width: 700px) {
    .outerCirkle {
        width: 600px;
        height: 600px;
        margin-top: 140px;
        margin-left: -190px;
    }
    
    .innerCircle {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: #F2F2F2;
        
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center;
    }
    .startButtonCircle {
        width: 120px;
        height: 120px;
    }
    .levelsButtonCircle {
        width: 120px;
        height: 120px;
    }
    .startBtnContainer {
        top: 0px;
        right: -51px;
    }
    .levelsBtnContainer {
        top: 485px;
        right: -87px;
    }
    .btnValue {
        font-size: 50px;
        font-weight: 400;
        margin-left: 20px;
    }
}

@media (orientation: landscape) {
    .greeting_container {
        width: 100%;
        height: 15vh;
        padding-top: 3vh;
    }
    
    .startPageHeading {
        padding-left: 5vh;
        padding-bottom: 3vh;
    }
    .nowDate {
        font-size: 3vh;
        line-height: 3vh;
    }
    .greeting {
        font-size: 3vh;
        line-height: 3vh;
    }
    .outerCirkle {
        width: 54vh;
        height: 54vh;
        margin-top: 12vh;
        margin-left: -18vh;
    }
    .innerCircle {
        width: 46vh;
        height: 46vh;
    }
    .startButtonCircle {
        width: 14vh;
        height: 14vh;
    }
    .levelsButtonCircle {
        width: 14vh;
        height: 14vh;
    }
    .btnValue {
        font-size: 8vh;
    }
    .startBtnContainer {
        top: -2vh;
        right: -19vh;
    }
    .levelsBtnContainer {
        top: 42vh;
        right: -24vh;
    }
  }