.startPage {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.greeting_container {
    width: 100%;
    height: 72px;
    background-color: #1C1919;
    padding-top: 20px;
    margin-bottom: 70px;
}
.greeting_container:after {
    content: "";
    display: block;
    padding: 1px;
    border-bottom: 3px solid #1C1919;
}

.startPageHeading {
    text-align: start;
    padding-left: 20px;
    padding-bottom: 10px;
}

.nowDate {
    color: #D3CBBD;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.greeting {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #456F74;
}
.english__container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.english__englishLogo_wrapper {
    width: 300px;
    height: 300px;
}

.english__english-logo {
    width: 100%;
    height: 100%;
}

.english__logos-container {
    margin-top: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.english__logo_wrapper {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.english__btn_container {
    width: 100%;
    height: 100px;
    display: flex;
}

.english__btn {
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}
.english__btn:hover,
.english__btn:active {
    scale: 1.2;
}
.lang_container {
    width: 300px;
}
.start {
    justify-content: flex-end;
}
.lang {
    justify-content: center;
}
.levels {
    justify-content: flex-start;
}

.english__link_value {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

@media(max-width: 600px) {
    .english__container {
        width: 360px;
        margin: 0 auto;
    }
    .english__logos-container {
        margin-top: 30px;
        width: 300px;
    }
    .english__logo_wrapper {
        width: 80px;
    }
    .lang_container {
        width: 140px;
    }
    .english__btn {
        width: 80px;
        height: 80px
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .greeting_container {
        margin-bottom: 30px;
    }
    .english__englishLogo_wrapper {
        width: 100px;
        height: 100px;
    }

    .english__container {
        width: 400px;
    }
    .english__logos-container {
        margin-top: 20px;
        width: 400px;
    }
    .english__logo_wrapper {
        width: 100px;
    }
    .lang_container {
        width: 200px;
    }
    .english__btn {
        width: 60px;
        height: 60px
    }
    .start {
        justify-content: center;
    }
    .levels {
        justify-content: center;
    }
    .english__btn_container {
        height: 60px;
    }
}
