.startPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.greeting_container {
    width: 100%;
    height: 72px;
    background-color: #F2F2F2;
    padding-top: 20px;
}
.greeting_container:after {
    content: "";
    display: block;
    padding: 1px;
    border-bottom: 3px solid #F2F2F2;
}

.startPageHeading {
    text-align: start;
    padding-left: 5vw;
    padding-bottom: 10px;
}

.nowDate {
    color: #99B3D4;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.greeting {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.outerCirkle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #99B3D4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -116px;
    position: relative;;
}

.innerCircle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerCircleImage {
    object-fit: cover;
    width: 74%;
}

.startBtnContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2px;
    right: -43px;
}

.levelsBtnContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 290px;
    right: -61px;
}

.startButtonCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #B9E6EC;
}
.startButtonCircle:active {
    background-color: #EBD0DE;
}

.startPageLink {
    width: 100%;
}

.linkValue {
    text-decoration: none;
    color:black
}

.startBtnImage {
    object-fit: cover;
    width: 60%;
}

.levelsButtonCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #B9E6EC;
}
.levelsButtonCircle:active {
    background-color: #EBD0DE;
}

.levelsBtnImage {
    object-fit: cover;
    width: 60%;
}

.btnValue {
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
}
.btnValue:active {
    color: #EBD0DE
}
@media (min-width: 700px) {
    .outerCirkle {
        width: 600px;
        height: 600px;
        margin-top: 140px;
        margin-left: -190px;
    }
    
    .innerCircle {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startButtonCircle {
        width: 120px;
        height: 120px;
    }
    .levelsButtonCircle {
        width: 120px;
        height: 120px;
    }
    .startBtnContainer {
        top: 0px;
        right: -51px;
    }
    .levelsBtnContainer {
        top: 485px;
        right: -87px;
    }
    .btnValue {
        font-size: 50px;
        font-weight: 400;
        margin-left: 20px;
    }
}

@media (orientation: landscape) {
    .greeting_container {
        width: 100%;
        height: 15vh;
        padding-top: 3vh;
    }
    
    .startPageHeading {
        padding-left: 5vh;
        padding-bottom: 3vh;
    }
    .nowDate {
        font-size: 3vh;
        line-height: 3vh;
    }
    .greeting {
        font-size: 3vh;
        line-height: 3vh;
    }
    .outerCirkle {
        width: 54vh;
        height: 54vh;
        margin-top: 12vh;
        margin-left: -18vh;
    }
    .innerCircle {
        width: 46vh;
        height: 46vh;
    }
    .startButtonCircle {
        width: 14vh;
        height: 14vh;
    }
    .levelsButtonCircle {
        width: 14vh;
        height: 14vh;
    }
    .btnValue {
        font-size: 8vh;
    }
    .startBtnContainer {
        top: -2vh;
        right: -19vh;
    }
    .levelsBtnContainer {
        top: 42vh;
        right: -24vh;
    }
  }