.levelsListContainer {
    padding: 5vw;
    padding-top: 60px;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.levelsListHeading {
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 600;
}

.levelsList {
    width: 90vw;
    list-style: none;
}


@media (orientation:landscape) {
    .levelsListContainer {
        padding: 10vh;
    }
    .levelsListHeading {
        font-size: 6vh;
        line-height: 8vh;
    }
}