.levels__container {
    padding-top: 40px;
    width: 100%;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.levels_close {
    text-align: right;
}

.levels___close_btn {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.levels___close_btn:hover {
    scale: 1.2;
}

.levels___close_btn:active {
    scale: 1.2;
    -webkit-filter: drop-shadow(0 0 2px #F2935C);
            filter: drop-shadow(0 0 2px #F2935C);
}

.levels__heading {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.levels__list {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}


@media(max-width: 840px) {
    .levels__container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media(max-width: 600px) {
    .levels__container {
        padding-top: 20px;
    }
    .levels__heading {
        font-size: 30px;
        line-height: 30px;
    }

    .levels___close_btn {
        width: 15px;
        height: 15px;
    }
}